<?xml version="1.0"?>
<launch>
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find ai_labs)/world/house.world" respawn="false" output="screen" />
	<node name="potential_fields" pkg="ai_labs" type="potential_fields.py" output="screen" />
    <node name="rostopic" pkg="rostopic" type="rostopic" args="pub -1 next_waypoint geometry_msgs/Point -- '-6.0' '6.0' '0.0'"/>
    <!-- Uncomment the following line for the extra credit portion of this lab-->
    <!-- node type="rviz" name="rviz" pkg="rviz" args="-d $(find ai_labs)/rviz/lab4.rviz" /-->
</launch>
